body {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    text-align: center;
    background-color: #964B00; /* Café */
 }
 
 
 #puzzle-container {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    margin: 20px auto;
    background-color: #ccc;
 }
 
 
 .puzzle-piece {
    width: 70px;
    height: 70px;
    background-color: #ff1493; /* Cambiado a rosa */
    color: white;
    font-size: 28px; /* Aumentado el tamaño de la fuente */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
 }
 
 
 .empty-piece {
    background-color: #ccc;
 }
 
 
 #shuffle-button {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ff0000; /* Color rojo */
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 
 #shuffle-button:hover {
    background-color: #ff6666; /* Color rojo claro al pasar el cursor */
 }
 
 
 #shuffle-button span {
    font-size: 24px; /* Tamaño de fuente más grande */
    color: white; /* Texto en color blanco */
 }
 
 
 #info-container {
    margin-top: 20px;
 }
 
 
 #moves {
    font-size: 24px; /* Aumentado el tamaño de la fuente */
    margin-top: 10px;
    color: #ff1493; /* Cambiado a rosa */
 }
 
 
 #reference-matrix {
    text-align: center;
    margin-top: 20px;
 }
 
 
 #initial-state {
    margin-right: 50px;
 }
 
 
 #initial-state p {
    font-weight: bold;
 }
 
 
 #initial-state ul {
    list-style-type: none;
    padding: 0;
 }
 
 
 #initial-state li {
    margin-bottom: 10px;
 }
 
